@model List<ContatoModel>
@{
    ViewData["Title"] = "Listagem de Contatos";
}

<div class="text-center">

    <div class="d-grid gap-2 d-md-flex justify-content-md-start text-light">
        <a class="btn btn-outline-secondary text-light" role="button" asp-controller="Contato" asp-action="Add">Adicionar Contato</a>
    </div>

    <br><br>

    <h1 class="display-4">Listagem de Contatos</h1>
    <br><br><br><br>
    <table class="table table-hover table-dark table-striped">
        <thead>
            <tr>
                <th scope="col">Nome</th>
                <th scope="col">E-Mail</th>
                <th scope="col">Número</th>
                <th scope="col"><span class="material-symbols-outlined">edit  </span></th>
                <th scope="col"><span class="material-symbols-outlined">delete</span></th>
            </tr>
        </thead>
        <tbody>
            @if(Model != null && Model.Any())
            {
                foreach (ContatoModel contato in Model)
                {
                    <tr>
                        <td>@contato.Id</td>
                        <td>@contato.Nome</td>
                        <td>@contato.Email</td>
                        <td>@contato.Celular</td>
                        <td><a role="button" class="btn btn-outline-secondary text-light" asp-route-id = "@contato.Id" asp-controller="Contato" asp-action="Edit">Editar</a></td>
                        <td><a role="button" class="btn btn-outline-danger"               asp-route-id = "@contato.Id" asp-controller="Contato" asp-action="DeletConfirm">Remover</a></td>
                    </tr>
                }
            }
        </tbody>
    </table>
</div>


